<div class = "wrapper">
<h1>Faction Index</h1>
<%= link_to "Create Faction", new_admin_faction_path, {class: 'button'} %>
    <div class = "main_content">
    <div>
    <% @factions.each do |faction|%>
        <div class = "faction_wrapper">
        <h2><%= faction.name.capitalize %></h2>
            <%= faction_logo(faction) %>
            <%= link_to "Info", admin_faction_path(faction.id), {class: 'button'}%></br>
            <%= link_to "Edit Faction", edit_admin_faction_path(faction), {class: 'button'}%>
        </div>
    <% end %>

</div>