<div class = "wrapper">
<div class = "form_wrapper">
<h1>admin faction new</h1>

<%= not_admin_output %>
<%= save_issue_output %>
<%= form_for [:admin, @faction] do |f|%>
    <label>Faction Name:</label></br>
    <%= f.text_field :name, placeholder: "Name", class: "form_field" %></br></br>
    <label>Faction Buff Type:</label></br>
    <%= f.text_field :buff_type, placeholder: "Buff type", class: "form_field" %></br></br>
    <label>Faction Buff:</label></br>
    <%= f.number_field :buff, placeholder: "Buff", class: "form_field" %></br></br>
    <label>Faction Lore:</label></br>
    <%= f.text_area :info, placeholder: "Info", class: "form_field" %></br></br>

    <%= f.submit class: "button" %>
<% end %>
</div>
</div>