<h1>user faction index</h1>
<% if @user_factions === nil || @user_factions.empty? %>
    <%= link_to "Learn About Factions", factions_path %>
    <%= link_to "Build an Army", new_user_user_faction_path(session[:user_id]) %>
<% else %>
    <%= @user_factions.each do |army| %>
        <div>
            army name: <%= army.army_name %></br>
            faction name:<%= army.faction.name %></br>
            user:<%= army.user.name %></br>
            <%= link_to "More Info", faction_path(army.faction_id) %>
        </div>
        </br>
    <% end %>
<% end %>