<div class = "wrapper">
<h1>Your Armies:</h1>
<a href="/users/<%= session[:user_id] %>/user_factions/new" class = "button">New Army</a>

<% if @user_factions === nil || @user_factions.empty? %>
    <a href="/factions" class = "button">Factions</a>
    <p>no armies found!</p>
<% else %>
    <% @user_factions.each do |army| %>
        <div class = "sub_wrapper">
            <h3>Army Name:</h3>
            <h4><%= army.army_name %></h4>
            <h3>Faction Name:</br></h3>
            <h4><%= army.faction.name %></h4>
            <h3>User:</br></h3>
            <h4><%= army.user.name %></h4></br>

                <a href="/users/<%= session[:user_id] %>/user_factions/<%= army.id %>" class = "button">View</a></br>

                <a href="/users/<%= session[:user_id] %>/user_factions/<%= army.id %>/edit" class = "button">Edit</a>

                <form method="post" action="/users/<%= session[:user_id] %>/user_factions/<%= army.id %>">
                <input type="hidden" name="_method" value="delete"></br>
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                <input type="submit" name="submit" value="Delete" class = "button">
            </form>
            </br>
        </div>
    <% end %>
<% end %>
</div>