<h1>user_faction show</h1>

army name:<%= @user_faction.army_name %></br>
</br>
user id:<%= @user_faction.user_id %></br>
</br>
username:<%= @user_faction.user.name%></br>
</br>
faction id:<%= @user_faction.faction_id %></br>
</br>
faction name:<%= @user_faction.faction.name%></br>
</br>
buff type: <%= @user_faction.faction.buff_type%></br>
</br>
percent buff:<%= @user_faction.faction.buff%>%</br>
</br>
