<div class="wrapper">
<div class = "form_wrapper">
<h1> Login </h1>
<%= not_logged_in_output %>
<%= form_for(:session, url: login_path) do |f| %>
    <%= f.email_field :email, :placeholder => "Email" %></br>
    </br>
    <%= f.password_field :password, :placeholder => "Password" %></br>
    </br>
    <%= f.submit "Log in", class: "button" %>
<% end %>
</div>
</div>
