<h1>show</h1>
<%= @user.name %>
<%= @user.email %>
<% if @user.factions === [] %>
    <%= link_to "Create New Army", factions_path %>
<% else %>
    <%= @user.factions.each do |faction| %>
        <div>
            <%= faction.name %>
        </div>
    <% end %>
<% end %>