<h1>show</h1>

<%= @user.name %>
<%= @user.email %>
    <%= @user.user_factions.each do |army| %>
        <div class = "army_wrapper">
            <%= army.faction.name %></br>
            <%= army.army_name %></br>
        </div>
    <% end %>
