<h1>admin index</h1>
<%= @users.each do |user|%>
    <div class = "faction_wrapper">
    <%= User.is_admin?(user.code) ? "admin" : "user" %></br>
    <%= user.name %></br>
    <%= user.email %></br>
    <% if !User.is_admin?(user.code) %>
        <div class = "button">
            <%= link_to "Edit", edit_admin_user_path(user.id) %>
        </div>
        <div class = "button">
        <form method="post" action="/admin/users/<%= user.id %>">
            <input type="hidden" name="_method" value="delete">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <input type="submit" name="submit" value="Delete">
        </form>
        </div>
    <% end %>
    </div>
    </br>
<% end %>