<div class = "wrapper">
<h1>admin index</h1>
<% @users.each do |user|%>
    <div class = "sub_wrapper">
    <h2><%= User.is_admin?(user.code) ? "Admin:" : "User:" %></br></h2>
    <h3><%= user.name %></h3>
    <h2>Email: </h2>
    <h3><%= user.email %></h3>
    <% if !User.is_admin?(user.code) %>
        <a href="/admin/users/<%= user.id %>/edit" class = "button">Edit</a></br>
        <form method="post" action="/admin/users/<%= user.id %>">
            <input type="hidden" name="_method" value="delete">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <input type="submit" name="submit" value="Delete" class="button">
        </form>
    <% end %>
    </br>
    </div>
<% end %>
</div>