<div class = "wrapper">
<div class = "form_wrapper">
<h1>admin new</h1>

<h1>Sign up</h1>
<%= not_admin_output %>
<%= form_for @user do |f|%>
    <label>Name:</label></br>
    <%= f.text_field :name, placeholder: "Name", class: "form_field" %></br></br>
    <label>Email:</label></br>
    <%= email_taken_output %>
    <%= f.text_field :email, placeholder: "Email", class: "form_field" %></br></br>
    <label>Password:</label></br>
    <%= f.text_field :password, placeholder: "Password", class: "form_field" %></br></br>
    <label>Admin Code:</label></br>
    <%= f.number_field :code, placeholder: "Code", class: "form_field" %></br></br>

    <%= f.submit class: "button" %>
<% end %>
</div>
</div>