<!DOCTYPE html>
<html>
  <head>
    <title>ElementHammer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- <link rel="stylesheet" type="text/css" href="application_layouts.css"/> -->
    <%= stylesheet_link_tag 'application.css' %>
  </head>

  <body>
  <div class ="nav_logo">
    <div class = "main_logo">
      <%= image_tag("elementhammer-big.png")%>
    </div>
  
    <ul class="navbar">
      <% if admin? %>
        <li class="navbar-li"><a href="/">Home</a></li>
        <li class="navbar-li"><a href="/admin/factions">Factions</a></li>
        <li class="navbar-li"><a href="/admin/users">Users</a></li>
        <li class="navbar-li"><a href="/logout">Logout</a></li>
      <% elsif logged_in? %>
        <li class="navbar-li"><a href="/">Home</a></li>
        <li class="navbar-li"><a href="/factions">Factions</a></li>
        <li class="navbar-li"><a href="/users/<%= session[:user_id] %>/user_factions">Armies</a></li>
        <li class="navbar-li"><a href="/users/<%= session[:user_id] %>/edit">Account</a></li>
        <li class="navbar-li"><a href="/logout">Logout</a></li>
      <% else %>
        <li class="navbar-li"><a href="/">Home</a></li>           
        <li class="navbar-li"><a href="/login">Login</a></li>
        <li class="navbar-li"><a href="/signup">Sign up</a></li>
      <% end %>
    </ul>
  </div>


    <%= yield %>
  </body>
</html>
